/*body {
    font-family: Arial, sans-serif;
    display: flex-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#taco-img {
    height: 20vh;
}

#map {
  bottom:0px;
  height: 100%;
  left: 0px;
  top: 100px;
  position: absolute;
  right: 0px;
}*/
