#map {
    height: 96vh;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#largeInfowindow {
    max-width: 400px;
    max-height: 200px;
}
#largeInfowindow img {
    float: left;
    margin-right: 10px;
}
